*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-image: url(logo-shalom\ copy.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
.form-register {
    width: 400px;
    background: #f52d2d;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}
.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;

}
.controls {
    width: 100%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #000000;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(0, 0, 0);
    
}
.form-register p {
    height: 30px;
    text-align: center;
    font-size: 18px;
    line-height: 100px;

}

.form-register a:hover {
    color: white;
    text-decoration: underline;

}
.form-register .botons {
    width: 100%;
    background: #ffffff;
    border: none;
    padding: 12px;
    color: rgb(0, 0, 0);
    margin: 13px 0;
    font-size: 16px;
    


}

.boton {
    background-color: #ffffff;
    border: none;
    color: #000000;
    padding: 10px 20%;
    text-decoration: none;
    font-size: 1.4rem;
    border-radius: 12px;
    font-family: 'calibri';
    margin: 13%;
   
    
    } 